.hed1 {
    text-align: center;
    
}
a,h1{
  color: whitesmoke;
  text-decoration: none;
}
a,h1:hover{
  color: tomato;
  text-decoration: none;
}
.flip-card {
    background-color: transparent;
    width: 400px;
    height: 500px;
    perspective: 1000px;
    border-radius: 15px;
    display: inline-block;
    padding-left: 40px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.9s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-card-back {
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
    border-radius: 15px;
  }
@media screen and (max-width: 1080px) {

    #bgm{
        width: 100%;
        height: 100%;
     }
        .flip-card{
            display: inline-block;
            
            
        } 
}