
  .navbar-header {
    vertical-align: baseline !important;
}

.navbar-brand {
    text-align: center;
    font-size: 30px;
    vertical-align: baseline !important;
}

.icon-bar {
    background-color: black;
}

nav ul {
    display: inline;
}

nav li {
    display: inline;
    padding: 10px;
} 

